div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

.portf_div_inner {
    height: 275px;    
}

.portf_div_inner2 {
    height: 275px;    
}

.portf_preview {
    margin-top: 23px;
}